.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gridSquare{
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.row{
    display: flex;
}